// adjust colors in _variables.scss and use color ids here

$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $purple-000;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: #1E192B;
$btn-primary-color: $purple-100;
$code-background-color: #09080c;
$code-linenumber-color: #dee2f7;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;